@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Roboto&display=swap');
* {
    font-family: 'Roboto';
}

/*Full page carousel*/

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*LOGO CSS*/

.logoLink {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 99;
}

.xavLogo {
    width: 50px;
}

.logoText {
    font-family: 'Dancing Script';
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 0px;
    left: 50px;
}

/*Custom button*/

.customButton {
    font-family: 'Alegreya Sans';
    /* color: black; */
    text-decoration: none;
    padding: 0.6rem;
    width: 12rem;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.15rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 40px 40px 40px;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
    transition: 0.5s;
    animation-name: spaceIn;
    animation-duration: 3s;
}

.customButton:hover {
    text-decoration: none;
    border-radius: 0px;
    letter-spacing: 0.2rem;
    transform: scale(1.1, 1.1);
    text-shadow: 0px 0px 0px black;
    /* color: white; */
    /* color: black; */
}

@keyframes spaceIn {
    0% {
        opacity: .5;
    }
    50% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
}
.display-4 {
    font-family: 'Dancing Script';
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
}

.carousel-item p {
    font-size: 1.2rem;
    font-family: 'Dancing Script';
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
}
