@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Roboto&display=swap');
* {
    font-family: 'Roboto';
}

/*

    SECTION - 1

*/
.sec1 {
    background-image: url('../images/background/back2.jpg');
    background-size: cover;
    background-origin: border-box;
    background-position: center;
    background-repeat: no-repeat;
}

.splash-wrapper {
    margin-left: 3rem;
    margin-right: 3rem;
}

/*LOGO CSS*/

.logoLink {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 99;
}

.xavLogo {
    width: 50px;
}

.logoText {
    font-family: 'Dancing Script';
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 0px;
    left: 50px;
}

/*LOGO CSS END*/

.main-heading {
    font-family: 'Dancing Script';
    font-size: 4.5rem;
}

.main-description {
    margin-top: 2rem;
    font-size: 1.3rem;
}

.learnMoreButton {
    font-family: 'Roboto';
    color: black;
    text-decoration: none;
    padding: .6rem;
    margin-top: 5rem;
}

.learnMoreButton:hover {
    text-decoration: none;
    color: white;
}

/* SOCIAL ICONS */

.fa-facebook-official {
    color: #3C5A99;
}

.fa-twitter-square {
    color: #1DA1F2;
}

.fa-instagram {
    background: -webkit-linear-gradient(240deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-pinterest-square {
    color: #E60023;
}

.social-wrapper {
    position: absolute;
    top: 0%;
    left: -2%;
    font-size: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 30px;
}

.social-wrapper a {
    color: white;
    margin: 4px;
}

.splash .social {
    opacity: .6;
}

.social:hover {
    transform: scale(2, 2);
    transition-duration: .3s;
    opacity: 1;
}

/*Particle-JS canvas*/

.sec1Wrapper {
    color: white;
    position: absolute;
    margin-top: 10rem;
    left: 0;
    right: 0;
}

#particles-js {
    
    height: 100vh;
}

/*

    SECTION - 2

*/

.sec2 {
    background-image: url('../images/background/back3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.textWrapper2 {
    margin-left: 3rem;
    margin-right: 3rem;
}

.container-timer {
    color: #333;
    text-align: center;
}

.redSpan {
    background: rgba(0,0,0,0) !important;
    color: black;
    font-weight: bold;
}

.time {
    color: black;
    font-weight: bold;
    display: inline-block;
    font-size: 1em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

.time .ph {
    color: white;
    display: block;
    font-size: 3rem;
}

.sec2 span {
    background-color: white !important;
}

iframe {
    display: none;
    border: 0px;
    width: inherit;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
.desktopAbout {
    display: inherit;
}


/*

    SECTION - 3

*/

.sec3 {
    background-image: url('../images/background/back1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.schBtn {
    margin-bottom: 2rem;
}
.eventBtn {
    color: black;
    background: white;
    padding: .5rem;
}
.eventBtn:hover {
    text-decoration: none;
}


/*

    SECTION - 4

*/

.sec4 {
    background: black;
}

/*Galary*/
.sec4 .carousel-inner {
    margin: 5px solid black;
    transition-duration: .5s;
}

.sec4 .carousel-inner:hover {
    transform: scale(1.1);
    transition-duration: .5s;
}

/*MEDIA QUERY*/


@media (ming-width: 1000px) {
    .textWrapper2 {
        font-size: 2rem;
    }
}

/*MOBILE*/
@media (max-width: 450px) {
    .desktopAbout {
        display: none;
    }
    iframe {
        display: inherit;
    }
    .social-wrapper {
        left: -4%;
    }

    /*Uncomment bottom portion to remove Particles*/

    /* #particles-js {
        display: none;
    }
    .sec1Wrapper {
        margin-top: -12rem;
    } */
}