@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Roboto&display=swap');
* {
    font-family: 'Roboto';
}

body {
    width: 100%;
    /* background-image: url('../images/Cover-Back-Blur.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    background-color: #7f5a83;
    background-image: linear-gradient(115deg, #7f5a83 0%, #0d324d 50%, #7f5a83 30%);
}

/*Smooth Scrolling*/

html {
    scroll-behavior: smooth;
}

/*LOGO CSS*/

.logoLink {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 99;
}

.xavLogo {
    width: 50px;
}

.logoText {
    font-family: 'Dancing Script';
    color: black;
    font-size: 2rem;
    position: absolute;
    top: 0px;
    left: 50px;
}

/*LOGO CSS END*/

.checkOut {
    font-size: 3rem;
    font-family: 'Dancing Script';
}

.scheduleImage {
    width: 50%;
    margin-bottom: 2rem;
    box-shadow: 10px 2px 30px rgba(255, 255, 255, .2);
}

.images {
    margin-top: 5rem;
}

/*NAVBAR OVERRIDE*/

#nav-icon2 span {
    background: white;
}

.sidenav {
    background-color: rgb(211, 238, 113);
}

.sidenav a {
    color: black;
}

.sidenav a:hover {
    color: red;
}

/* .hover-btn-up {
    position: absolute;
    right: 20px;
    margin-bottom: 2rem;
} */

.btn-up {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border-radius: 50%;
    background-image: linear-gradient(to right, #f85032, #e73827);
    transition-duration: .2s;
    color: white;
    animation-name: bounceInUp;
}

.btn-up:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .5);
    transition-duration: .4s;
    color: black;
}

/*MOBILE*/

@media (max-width: 450px) {
    .scheduleImage {
        width: 100%;
    }
    .social-wrapper {
        display: none;
    }
}

/*Custom Button*/

.eventButtonDiv {
    margin-top: 5rem;
    margin-bottom: -4rem;
}

.customButton {
    font-family: 'Roboto';
    /* color: black; */
    text-decoration: none;
    width: 12rem;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.15rem;
    border-radius: 40px 40px 40px;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, .2);
    transition: 0.5s;
    animation-name: spaceIn;
    animation-duration: 3s;
    color: black;
    border-color: #f7f6f6
}

.customButton:hover {
    text-decoration: none;
    border-radius: 0px;
    letter-spacing: 0.2rem;
    transform: scale(1.3, 1.3);
    text-shadow: 0px 0px 0px black;
    /* color: white; */
    color: black!important;
}

.btnEvent {
    font-size: .7rem;
    margin-top: 1rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .1);
}

/*SoCIAL Links*/

/* SOCIAL ICONS */

.fa-facebook-official {
    color: #3C5A99;
    transition: 0.5s;
}

.fa-twitter-square {
    color: #1DA1F2;
    transition: 0.5s;
}

.insta {
    background: -webkit-linear-gradient(240deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s;
}

.fa-pinterest-square {
    color: #E60023;
    transition: 0.5s;
}

.social-wrapper {
    position: fixed;
    top: 20%;
    left: 2%;
    font-size: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 30px;
}

.social-wrapper a {
    color: white;
    margin: 4px;
}

.splash .social {
    opacity: .6;
}

.social:hover {
    transform: scale(2, 2);
    transition-duration: .2s;
    opacity: 1;
}

/*END OF SOCIAL ICON*/

/*Footer*/

.partnership , .contactUs, .eventQueries, .teamRegistrationQueries  {

    color: white;
    text-align: center;
    margin-top: 1rem;
    
}

.partnership a , .contactUs a, .eventQueries a, .teamRegistrationQueries a {

    color: white;
    opacity: .7;
    text-align: left;
    transition: 0.5s;
  
    /* margin-top: rem; */
    
}

.partnership a:hover , .contactUs a:hover, .eventQueries a:hover, .teamRegistrationQueries a:hover {
    text-align: center;
    color: white;
    opacity: 1;
    text-shadow: 0px 1px 1px rgba(0,0,0,1);
    text-decoration: none;
    letter-spacing: 1px;
    /* margin-top: rem; */
    
}

.text-heading
{
    transition: 0.5s;
}

.text-heading:hover {

    letter-spacing: 0.1rem;
}

.social-wrapper-bottom {
    text-align: center;
    font-size: 2rem;
    margin-top: 4rem;
}

.social-wrapper-bottom i {
    color: white!important;
    opacity: 0.6;
    padding-top: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: 1s;
    animation-name: change;
    animation-duration: 3.5s;
}

.social-wrapper-botton i:hover {
    opacity: 1;
    border-color: white!important;
}

.followUs {
    font-size: 1rem;
    text-align: center;
    width: 10rem;
    padding: 0.2rem;
    margin-bottom: 2rem;
    border-radius: 20px 20px 20px;
    background-color: white;
    transition: 0.5s;
}

.followUs:hover {
    color: white;
    letter-spacing: 0.1rem;
    background-color: transparent;
    box-shadow: white;
}

/*Loader override*/

#loader {
    margin-top: -5rem;
}

.rules {
    padding: 1rem;
    /* background-color: black; */
    font-size: .7rem;
    margin-top: 2rem;
    color: white;
}

.rules ol {
    margin-left: 1rem;
}

.rules li {
    margin-bottom: .2rem;
}

.rules table {
    margin-left: 2rem;
    width: 30%;
    border: 2px;
}

table, th, td {
    text-align: center;
    border: 1px solid white;
}

.wrapper {
    margin-left: 3rem !important;
    margin-right: 1rem;
}

.scheduleWrapper {
    margin-top: 5rem;
    color: white;
}