@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Roboto&display=swap');
* {
    font-family: 'Roboto';
}

/*LOGO CSS*/

.logoLink {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 99;
}

.xavLogo {
    width: 50px;
}

.logoText {
    font-family: 'Dancing Script';
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 0px;
    left: 50px;
}

/*LOGO CSS END*/

body {
    background-color: #0cbaba;
background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
/*  */
/* background-color: #fce055;
background-image: linear-gradient(319deg, #fce055 0%, #0f3581 37%, #46237a 100%); */

/* background-color: #44b09e;
background-image: linear-gradient(315deg, #44b09e 0%, #e0d2c7 74%); */
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Roboto';
}

.result-container {
    margin-top: 15rem;
    position: relative;
    top: 50%;
    text-align: center;
}

#loader {
    margin-top: -15rem;
}

h1 {
    font-family: 'Dancing Script';
    font-size: 2rem;
}
