@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:700i|Dancing+Script|Roboto&display=swap');
* {
    font-family: 'Roboto';
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    /* background-color: #a4508b;
    background-image: linear-gradient(326deg,#5f0a87 30%, #a4508b 0%, #5f0a87 74%); */
    background-image: url("../images/Cover-Back-Blur.jpg");
    background-origin: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*LOGO CSS*/

.logoLink {
    position: fixed;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 99;
}

.xavLogo {
    width: 50px;
    position: fixed;
}

.logoText {
    position: fixed!important;
    font-family: 'Dancing Script';
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 15px;
    left: 80px;
}

/*LOGO CSS END*/

h4, h5 {
    margin-top: 0.5rem;
}

.text1 {
    margin-bottom: 2.5rem;
    font-family: 'Dancing Script';
    font-size: 3rem;
}

.hexa, .hexa div {
    margin: 0 auto;
    transform-origin: 50% 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.hexa {
    width: 184px;
    height: 130px;
}

.hexa div {
    width: 100%;
    height: 100%;
}

.hexa {
    transform: rotate(120deg);
}

.hex1 {
    transform: rotate(-60deg);
}

.hex2 {
    transform: rotate(-60deg);
}

.hex2 img {
    width: inherit;
    transition-duration: .4s;
}

.hex2 img:hover {
    opacity: 1;
    transition-duration: .7s;
    width: 80%;
}

.tClass {
    font-size: .8rem;
    margin: 0.2rem;
    color: white;
}

.member {
    transition: 0.5s;
}

.member:hover {
    transform: scale(1.1,1.1);
    box-shadow: rgba(0,0,0,1);
}

.memberName {
    color: black;
    margin-top: .5rem;
    font-size: 1rem;
}

.mMobile {
    color: black;
}

/*MODAL OVERRIDE*/

/* .modal-header {
    background: gray;
}

.modal-body {
    background: gray;
} */

.modal-title {
    color: white!important;
}

.close span {
    color: black;
}

/*MOBILE*/

@media (max-width: 450px) {
    /*Team page hex size*/
    .hexa {
        width: 134px;
        height: 95px;
    }
    .sec4 .col-4 {
        margin-bottom: 2rem;
    }
    .social a {
        opacity: 1;
    }
}

/*NAVBAR OVERRIDE*/

#nav-icon2 span {
    background: white;
}

.navWrapper {
    position: fixed!important;
}

.sidenav {
    background-color: rgb(211, 238, 113);
}

.sidenav a {
    color: black;
}

.sidenav a:hover {
    color: red;
}

/*Social icon override*/

.social {
    font-size: 1.5rem;
}

.social a {
    text-decoration: none;
    opacity: .6;
}

.social a:hover {
    text-decoration: none;
    opacity: 1;
}

.facebook {
    color: #3b5998;
}

.instagram {
    color: #833AB4;
}

.linkedIn {
    color: #2867B2;
}

/*Footer part*/

/* footer {
    background-image: linear-gradient(to top, #ffe35941, #ffa85159, rgba(255,255,255,0.0));
    width: inherit;
    height: 200px;
}
.footerWrapper {
    margin-top: 3rem;
}
.name {
    font-family: 'Dancing Script';
}
.logo {
    width: 150px;
    align-content: center;
} */

/*Navigation icon override*/

.logoText {
    color: black;
}

#nav-icon2 span {
    background: black;
}

.body-wrapper {
    margin-top: 5rem;
}



.wrapper {
    font-family: 'Alegreya Sans';
    color: white;
    margin-top: 5rem;
    text-transform: uppercase;
}

.member {
    border-radius: 50%;
    width: 120px;
}

#loader {
    margin-top: -5rem;
}

.mNumber {
    font-size: .7rem;
}

#nav-icon2 span {
    background-color: white;
}

.row div {
    font-family: 'Alegreya Sans';
    margin-bottom: 1rem;
}

.wrapper p {
    font-family: 'Alegreya Sans';
}

.number {
    font-family: 'Alegreya Sans';
    font-size: 5rem;
}

.customHr {
    background-color: white;
    text-align: center;
    width: 200px;
    margin: auto;
    height: .1rem;
    margin-top: 1rem;
    margin-bottom: 6rem;
}

.partnership, .contactUs {
    font-family: Roboto!important;
}

.heading {
    text-shadow: rgba(0,0,0,1);
}

@media (max-width: 450px) {
    .heading {
        font-size: 1.5rem;
    }
    .member {
        width: 80px;
    }
    h5 {
        font-size: .8rem;
    }
    p {
        font-size: .6rem;
    }
}