@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Roboto&display=swap');
* {
    font-family: 'Roboto';
}

body {
    width: 100%;
    background-color: #a4508b;
    background-image: linear-gradient(326deg,#5f0a87 30%, #a4508b 0%, #5f0a87 74%);
    
}

/*LOGO CSS*/

.logoLink {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 99;
}

.xavLogo {
    width: 50px;
}

.logoText {
    font-family: 'Dancing Script';
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 0px;
    left: 50px;
}

/*LOGO CSS END*/

.teamWrapper {
    margin-top: 5.5rem;
}

.text1 {
    margin-bottom: 2.5rem;
    font-family: 'Dancing Script';
    font-size: 3rem;
}

.hexa, .hexa div {
    margin: 0 auto;
    transform-origin: 50% 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.hexa {
    width: 184px;
    height: 130px;
}

.hexa div {
    width: 100%;
    height: 100%;
}

.hexa {
    transform: rotate(120deg);
}

.hex1 {
    transform: rotate(-60deg);
}

.hex2 {
    transform: rotate(-60deg);
}

.hex2 img {
    width: inherit;
    transition-duration: .4s;
}

.hex2 img:hover {
    opacity: 1;
    transition-duration: .7s;
    width: 80%;
}

.tClass {
    font-size: .8rem;
    margin: 0.2rem;
    color: white;
}

.memberName {
    color: black;
    margin-top: .5rem;
    font-size: 1rem;
}
.mMobile {
    color: black;
}
/*MODAL OVERRIDE*/

/* .modal-header {
    background: gray;
}

.modal-body {
    background: gray;
} */

.modal-title {
    color: white!important;
}
.close span {
    color: black;
}

/*MOBILE*/
@media (max-width: 450px) {
    /*Team page hex size*/
    .hexa {
        width: 134px;
        height: 95px;
    }
    .sec4 .col-4 {
        margin-bottom: 2rem;
    }
    .social a {
        opacity: 1;
    }
}

/*NAVBAR OVERRIDE*/

#nav-icon2 span {
    background: white;
}

.sidenav {
    background-color: rgb(211, 238, 113);
}

.sidenav a {
    color: black;
}

.sidenav a:hover {
    color: red;
}

/*Social icon override*/
.social {
    font-size: 1.5rem;
}

.social a {
    text-decoration: none;
    opacity: .6;
}
.social a:hover {
    text-decoration: none;
    opacity: 1;
}

.facebook {
    color: #3b5998;
}

.instagram {
    color: #833AB4;
}

.linkedIn {
    color: #2867B2;
}

/*Footer part*/

/* footer {
    background-image: linear-gradient(to top, #ffe35941, #ffa85159, rgba(255,255,255,0.0));
    width: inherit;
    height: 200px;
}
.footerWrapper {
    margin-top: 3rem;
}
.name {
    font-family: 'Dancing Script';
}
.logo {
    width: 150px;
    align-content: center;
} */

/*Navigation icon override*/

.logoText {
    color: black;
}

#nav-icon2 span {
    background: black;
}

.body-wrapper {
    margin-top: 5rem;
}

/*Footer*/

.partnership , .contactUs {

    color: white;
    text-align: center;
    margin-top: 4rem;
    
}

.text-heading
{
    transition: 0.5s;
}

.text-heading:hover {

    letter-spacing: 0.1rem;
}

.social-wrapper {

    text-align: center;
    font-size: 2rem;
    margin-top: 4rem;
   
}

.social-wrapper i {
    color: white;
    opacity: 0.6;
    padding-top: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: 1s;
    animation-name: change;
    animation-duration: 3.5s;
}

.social-wrapper i:hover {

    opacity: 1;
    border-color: white!important;
}


.followUs
{
    font-size: 1rem;
    text-align: center;
    width: 10rem;
    padding: 0.2rem;
    margin-bottom: 2rem;
    border-radius: 20px 20px 20px;
    background-color: white;
    transition: 0.5s;
}

.followUs:hover
{
    color: white;
    letter-spacing: 0.1rem;
    background-color: transparent;
    box-shadow: white;
    
}